{{ define "main" }}
<div class="404-not-found" style="font-size: 2rem; padding-top: 1.5rem;">
    <span>NOT FOUND</span>
    <pre>
               ,-.       _,---._ ___  / \
               /  )    .-'       `./ /   \
              (  (   ,'            `/    /|
               \  `-"             \'\   / |
                `.              ,  \ \ /  |
                 /`           ,'-`----Y   |
                (            ;        |   |
                |  ,-.    ,-'         |  /
                |  | (   |        <a href="https://www.asciiart.eu" >hjw</a> | /
                )  |  \  `.___________|/
                `--'   `--'
    </pre>
    <!-- https://www.asciiart.eu -- hjw -->
</div>
{{ end }}
